.idea/*
**/*.ipynb_checkpoints/ 
main/__pycache__/*
utils/__pycache__/*
env/*

data/log/*
instances/rakaj_all/*
results/new_res/*
results/old_res/*
results/params/*

notebooks/ga_test.ipynb
notebooks/deap_test.ipynb
notebooks/presentation.ipynb

NOTES.md
