.idea/*
**/*.ipynb_checkpoints/ 
main/__pycache__/*
utils/__pycache__/*
env/*

results/*
!results/.gitkeep
instances/rakaj_all/*
instances/images/*
!instances/images/.gitkeep

test/*
notebooks/test.ipynb
notebooks/ga_test.ipynb
